header{
    background-color: #4EA0FF;
    background-image: url("./img/pattern.png");
    background-size: 17%;
}

#logo{
width: 20%;
height: auto;
}
h1{
    margin: 0%;
}

.text-color{
    margin: 0%;
    color: #808080;
}

#font-wg{
    font-weight:bold;
}

#text-bg{
    background-color: rgb(238, 255, 0);
}